<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="hstack gap-3">
                <div class="bg-light border">First item</div>
                <div class="bg-light border">Second item</div>
              </div>
         
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Project List</h4>
          <button routerLink="addnewproject">ADD PROJECT </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          
             
                <table class="table align-middle mb-0 bg-white">
                  <thead class="bg-light">
                <th>
                  Project Name
                </th>
                <th>
                  Client
                </th>
                <th>
                  DeadLine
                </th>
                <th >
                  Etat
                </th>
                <th class="pl-5">
                   Actions
                  </th>
              </thead>
              <tbody *ngFor="let l of list">
                <tr>
                  <td>
                   {{l.nomProjet}}
                  </td>
                  <td>
                    <p class="fw-normal mb-1">{{l.client}}</p>
                  </td>
                 
                  <td>{{l.deadline}}</td>
                  <td>
                    <span class="badge badge-success rounded-pill d-inline">{{l.etat}}</span>
                  </td>
                  <td>
                    <div class="button-container">
                      <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                      </button>
                      <button  class="btn btn-neutral btn-icon btn-round btn-lg" (click)="deleteproject(l.idProjet)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                          </svg>
                      </button>
                      <button  [routerLink]="['detail',l.idProjet]" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                      </button>
                    </div>
                
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
</div>
